<%- include("./partials/header.ejs") %> 
        <h1>Welcome to My Express Application</h1>
        <img 
        src="https://i.ytimg.com/vi/gUIJ-UkQsXI/maxresdefault.jpg" 
        alt="Cute Kitten"
        height="500px"
        />
<%- include("./partials/footer.ejs") %> 